<div class="index_2"><i class="fa fa-phone" style="font-size:26px" ></i>{{ contact.content|raw }}</div>
<div class="foot">
    <div style="color:#505050">
{{ footer.content|raw }}
        </div>
</div>