<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
<div class="saixuan">
    <p style=" font-size:20px; color:#ee1c23; margin-bottom:15px;">私募产品筛选</p>
    <div class="ss">
        投资类型：<a href="javascript:void(0)" id="ss" value="unlimit">不限</a>
        {% for type in types %}<a href="javascript:void(0)" value="{{ type }}">{{ type }}</a>{% endfor %}
    </div>
</div>
            </div>
        </div>
    </div>
</div>