{% extends 'hkgbiWebBundle:frontend:base.html.twig' %}

{% block main_content %}

    {#slidebar#}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body" style="padding: 0px;">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for i in 0..count-1 %}
                            <li data-target="#carousel-example-generic" data-slide-to={{ i }} {% if i==0 %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% set i = 1 %}

                        {% for image in images %}
                            <div class="item {% if i==1 %}active{% endif %}">
                                <img src="{{ vich_uploader_asset(image,'imageFile') }}">
                            </div>
                            {% set i=i+1 %}
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" style="width:10%" href="#carousel-example-generic" data-slide="prev">
                        <span class="fa fa-angle-left"></span>
                    </a>
                    <a class="right carousel-control"  style="width:10%" href="#carousel-example-generic" data-slide="next">
                        <span class="fa fa-angle-right"></span>
                    </a>
                </div>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock %}


{% block private_js %}
    <script src="{{ asset('bundles/hkgbiweb/js/admin/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hkgbiweb/js/admin/app.min.js') }}"></script>
{% endblock %}


