<div class="nbanner" style="height:371px;background-image:url({{ vich_uploader_asset(banners[0],'imageFile') }})">
        <div style="width:1200px; height:100%; overflow:hidden; line-height:25px;">

        </div>
    </div>
