{% extends "@hkgbiWeb/backend/layout_admin.html.twig" %}

{% block page_header %}底部信息{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Footer底部信息</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <ul class="todo-list ui-sortable">
                    {% for footer in footers %}
                    <li>
                        <!-- todo text -->
                        <span class="text">{{ footer.title }}</span>
                        {#<small class="label label-danger"><i class="fa fa-clock-o"></i> 2 mins</small>#}
                        <div class="tools">
                            <a href="{{ path('editfooter',{'id':footer.getId()}) }}"><i class="fa fa-edit" style="font-size:18px"></i></a>
                            <i class="fa fa-trash-o" style="font-size:18px"></i>
                        </div>
                    </li>
                        {% endfor %}
                </ul>
            </div><!-- /.box-body -->
            <div class="box-footer clearfix no-border">
                <a href="{{ path('createfooter') }}"><button class="btn btn-default pull-right"><i class="fa fa-plus"></i>添加底部信息</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}