<ul class="todo-list ui-sortable">
    {% for download in downloads %}
        <li>
            <!-- todo text -->
            <span class="text">{{ download.title }}</span>
            <div class="tools">
                <a href="javascript:void(0)" onclick="deletedownload({{ download.id }})"><i class="fa fa-trash-o" style="font-size:18px"></i></a>
            </div>
        </li>
    {% endfor %}
</ul>
