<div class='modal fade' id='value_list' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden="true">&times;</span></button>
                <h4 class='modal-title' id='exampleModalLabel'>基金净值列表</h4>
            </div>
            <div class='modal-body'>
                <ul class='todo-list ui-sortable'>
                    {% for value in values %}
                    <li>
                        <span class='text'>{{ value.valueDate|date('yyyy-MM-dd') }}</span>
                        <span class="text">|</span>
                        <span class='text'>{{ value.value }}</span>
                        <div class='tools'>
                            <a href='javascript:void(0)' id="edit_value_button" value="{{ value.id }}"><i class='fa fa-edit' style='font-size:18px'></i></a>
                            <a href='javascript:void(0)' onclick=''><i class='fa fa-trash-o' style='font-size:18px'></i></a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
